body {
  font-family: "HelveticaNeue-Light", sans-serif;
}
.sticky {
  position: fixed;
  width: 100%;
  top: 1px;
}
#nav_d{
  width: 100%;
  box-sizing: border-box;
}
.navbar {
  background-color: #1f1f1f;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
  overflow: auto;
}

.hamburger {
  width: 17px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 70%;
}

.logo {
  width: 115px;
  margin-bottom: 9px;
  margin-right: 15px;
  cursor: pointer;
}

.nav_left {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: auto;
}

.nav_left > p {
  margin-right: 35px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  opacity: 95%;
}

.nav_left > p:hover {
  opacity: 100%;
  text-decoration: underline;
  color: red;
}

.nav_right {
  display: flex;
}

.search-icon {
  width: 20px;
  box-sizing: border-box;
  padding: 2px;
}
.search-icon:hover {
  cursor: pointer;
}
.inputDiv {
  display: flex;
  align-items: center;
}

.search {
  height: 100%;
  border: none;
  outline: none;
  color: whitesmoke;
  background-color: #1f1f1f;
  padding: 0px 30px 0px 0px;
  font-size: 16px;
  width: 238px;
}

.search::placeholder {
  color: white;
  opacity: 95%;
}

.search:active {
  border: none;
  outline: none;
}

#inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#searchResult {
  position: absolute;
  width: 250px;
  height: 300px;
  /* border: 1px solid white; */
  margin-top: 5px;
  background-color: #0c121b;
  /* overflow: scroll; */
  /* -ms-overflow-style: none; */
  scrollbar-width: none;
  /* padding: 10px 20px; */
  display: none;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 7px 10px;
  border-radius: 10px;
}

#subscribe {
  background-color: #2080e2;
  margin-left: 20px;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
}

#profile {
  width: 25px;
  margin-left: 20px;
}
#input-all > hr {
  border: 2px solid white;
}
