    body{
        background-color: black;
    }
    #footer_ns{
        /* border: 2px solid orange; */
        width: 62%;
        margin: auto;
    }
    .top_div_fns{
        /* border: 1px solid red; */
        width: 95%;
        margin: auto;
        color: grey;
    }
    .top_cate_Content_fns{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;

    }
    .headings_fns > h2{
        font-family: 'Roboto', sans-serif;
        color: #787677;
        font-size: 10px;
        padding: 5px 0px;
        margin-bottom: -1px;
        border-bottom: 0.5px solid grey;
    }
    .top_cate_Content_fns > div{ 
        /* border: 1px solid green; */
    }
    .top_cate_Content_fns > div > li > a{ 
        text-decoration: none;
        color: #EEEEEE;
        font-size: 9px;
        margin-left: 4px;
        font-family: 'Roboto', sans-serif;
        

    }

    .smalldiv{
        width: 80px;
        border: 2px solid red;
    }


    #footer_blw_ns{
        border: 1px solid white;
        display: flex;
        color: white;
        padding: 10px 0px;
    }
    #footer_blw_ns1{
        width: 25%;
        border: 1px solid green;
        height: 220px;
    }
    #footer_blw_ns3{
        width: 25%;
        height: 220px;

        border: 1px solid green;
    }
    #footer_blw_ns2{
        height: 220px;

        width: 50%;
        border: 1px solid yellowgreen;
    }
    .footer_blw_sub_ns1{
        border: 1px solid yellow;
        height: 50%;
    }
    #media_icons_ns >img{
        border: 1px solid red;
    }
    #media_icons_ns >img{
        width: 10%;
        height: 10%;
        margin-right: 3px;
    }
    .soc_heads_ns{
        border: 1px solid white;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #787677;
        font-size: 9px;
        margin-bottom: 5px;
    }
    .soc_img_div_ns{
        border: 1px solid white;
        margin-bottom: 5px;
    }
    #newGuard > img {
        width: 50%;
        color: green;
        height: 50%;
    }
    #newGuard{
        margin-left: 10px;
        margin-top: 5px;
    }