body{
    margin: 0;
    padding: 0;

}

#content_container{
    width: 70%;
    min-height: 700px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    margin-top:0px ;
} 
#page_navigation{
  
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}
span{
    color: rgb(203, 66, 66);
}
 #content_container_1_2{
    width: 70%;
    height: auto;
   /* border-bottom: 1px solid rgb(0, 229, 255);*/
    
    

} 
#content_container_2_5{
    width: 30%;
    height: auto;

   
}

#content_container_2>div{
    display: flex;
    padding: 10px;
    gap: 5px;
    background-color: #f6f6f6;
    /* border: 1px solid springgreen; */
    margin-top: 10px;
    font-size: small;

}
#content_container_2>div>img{
   width:45% ;
   height: 100%;
   margin: auto;

}
#PULSE_NEWS_container{
    width: 100%;
    display: flex;
}
#MUST_READ>div{
    display: flex;
    padding: 10px;
    gap: 2px;
    background-color: #f6f6f6;
    /* border: 1px solid springgreen; */
    margin-top: 10px;
   font-size: small;

}
#MUST_READ>div>img{
   width:45% ;
   height: 100%;
   margin: auto;


}
#PULSE_NEWS{
    width: 100%;
    height: 500px;
    /* border: 5px solid springgreen;  */

}
#PULSE_NEWS_1{
width: 100%;
height: 500px;
}
#PULSE_NEWS_1>div:nth-child(1){
    width: 100%;
    height: 350px;
   

}
#PULSE_NEWS_1>div:nth-child(2){
    width: 100%;
    height: 130px;
    
 
    text-align: center;
    padding: 1px;
}
#PULSE_NEWS_1 img{
    width: 98%;
    height: 90%;
}


#EXPRESS{
    width: 30%;
    height: 500px;
   
}
#EXPRESS>div{
    width: 100%;
    height: 50%;
   
}
#EXPRESS img{
    width: 100%;
    height: 50%;
   
    
}
#qys{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
    padding: 10px  0px;
    padding-bottom: 20px;
    
    
}
#qys img{
    width: 100%;
    height: 80%;
}

#news_container{
    width: 100%;
    height: auto;
   
}
.news_container_inner{
    width: 95%;
    height: 200px;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.news_container_inner>div:nth-child(1){
    width: 40%;
    height: 100%;

}
.news_container_inner>div:nth-child(2){
    width: 60%;

}
.news_container_inner img{
   width: 100%;
   height: 90%; 
}
#PULSE_belo_container{
    width: 100%;
    height: 100px;
    
    
}
#BEST_heding{
    margin-bottom:-10px;
}
#news_buttoon{
    text-align: center;
}
#news_buttoon button{
    padding: 10px;
    border-radius: 50%;
    margin: 15px;
    background-color: black;
    color: #f6f6f6;
}
#news_buttoon button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




@media all and (min-width: 401px) and (max-width: 800px) {
    #content_container{
        width: 100%;
     display: flex;
     flex-direction: column;
    }    
    #content_container_1_2{
        width: 100%;
        height: auto;
       /* border-bottom: 1px solid rgb(0, 229, 255);*/  
    
    } 
    #content_container_2_5{
        width: 100%;
        height: auto;
    }
    /* #PULSE_NEWS_container{
        display: flex;
        flex-direction: column;
    } */

}
@media all and (min-width: 250px) and (max-width: 400px) {
    #content_container{
        width: 100%;
        display: flex;
        flex-direction: column;
       }    
       #content_container_1_2{
           width: 100%;
           height: auto;
          /* border-bottom: 1px solid rgb(0, 229, 255);*/  
       
       } 
       #content_container_2_5{
           width: 100%;
           height: auto;
       }
}
